spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/myseat
    
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

server:
  port: 8081